* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

a:hover {
  font-weight: 800;
  color: rgb(0, 0, 0);
}

.container {
  font-family: Arial, Helvetica, sans-serif;
}

/* Navigation bar starts here*/

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 7%;
  background-color: #f2f0e7;
}

.logo {
  height: 70px;
  cursor: pointer;
}

.account {
  height: 40px;
  cursor: pointer;
  margin-right: 2vw;
}

.menu {
  height: 30px;
}

.nav-links li {
  list-style: none;
  display: inline-block;
  margin: 10px 30px;
}

.nav-links li a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(0, 0, 0);
}

.active {
  position: relative;
}

.active::after {
  content: " ";
  background: rgb(255, 255, 255);
  width: 25px;
  height: 2px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -12px;
  border-radius: 2px;
}

nav .menu {
  display: none;
}

/* For mobile version */
@media only screen and (max-width: 700px) {
  .logo {
    position: fixed;
    top: 4%;
    left: 7%;
  }
  nav {
    position: fixed;
    top: 0;
    z-index: 100;
    display: inline-block;
    width: 100%;
    padding: 100px 7% 0;
    background: rgb(242, 240, 231);
    text-align: right;
    max-height: 100px;
    overflow: hidden;
    transition: max-height 0.5s;
    font-size: 22px;
  }
  nav .nav-links li {
    margin: 10px 0;
    display: block;
  }
  .account {
    margin: 15px 0 40px;
    display: inline-block;
  }

  .cart1 {
    margin: 15px 0 40px;
    display: inline-block;
    height: 43px;
  }

  nav .menu {
    display: block;
    position: fixed;
    top: 3%;
    right: 7%;
  }
  .active::after {
    left: -40px;
    transform: translate(0, 50%);
    bottom: 50%;
    border-radius: 2px;
  }
  .hidemenu {
    max-height: 350px;
  }

  .activities {
    margin-top: 20px;
  }
}

/* Navigation bar ends here*/

.container {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading {
  margin-right: 1rem;
}

@media only screen and (max-width: 700px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin: auto;
  }
  .hotel-pic {
    width: 400px;
  }
}

i {
  color: #f6be19;
  font-size: 18px;
  margin: 10px 0.1px;
  width: 18px;
}

/* footer starts */

.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  height: 30vh;
  width: 100%;
  background: #f2f0e7;
  text-align: center;
  align-items: center;
}

.social-icons img {
  width: 23px;
  margin-top: 1vh;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 1vh;
}

.col-1 a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  color: black;
}

.col-2 button {
  margin-top: 2vh;
}

form input {
  width: 400px;
  height: 45px;
  border-radius: 4px;
  text-align: center;
  border: none;
}

form button {
  background: transparent;
  border: 2px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  border-radius: 30px;
  padding: 10px 30px;
  font-size: 15px;
  cursor: pointer;
}

form button:hover {
  transform: scale(1.02);
  box-shadow: 5px 5px 5px rgba(138, 138, 138, 0.692);
}

a:hover {
  font-weight: 800;
  color: rgb(0, 0, 0);
}

@media only screen and (max-width: 700px) {
  .footer-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 75vh;
    align-items: center;
  }
  .col-1 {
    margin-bottom: 4vh;
  }
  .col-2 {
    margin-bottom: 4vh;
  }
  .col-3 {
    margin-bottom: 4vh;
  }
}

/* footer ends */
